{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><strong><h2 align="center">Welcome To Our WebPage</h2></strong></div>
    <div class="col-md-3"></div>	
</div>
<div class="row" >
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center"><img src="\static\css\images\im4.jpg" width="400" height="250"class="img img-circle" alt="..."></div>
    <div class="col-md-3"></div>
</div>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-primary"><h4 align="center">Small Presentation</h4></div>
    <div class="col-md-3"></div>	
</div>

<div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-10">
      <p>Si vous souhaiter promouvoir, vendre ou faire prendre connaissance de vos produits
         à l’échelle local, national ou international, vous pouvez nous contacter et nous 
         pourrions vous accompagner dans ses projets par l’intermédiaire de notre site, 
         que vous soiyer débutant ou non dans le domaine, le personnel d’Ao sera toujours
          à votre disposition en cas de soucie. Ce site est mis à la disposition de toute 
          tranche d’âge et surtout destiné aux jeunes entrepreneurs.
    </p>
  </div>
  <div class="col-md-1"></div>
    
</div>
<br>
<br>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-success"><h3 align="center">Aperçus de nos offres en ligne</h3></div>
    <div class="col-md-3"></div>	
</div>

<div class="row">
  <div class="col-md-3"></div>
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="\static\css\images\im2.jpg"  width="200" height="180" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Assistance pour vente de produit ou promotion en ligne</p>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="\static\css\images\im3.jpg" width="200" height="180" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Assistance pour création de site web, carte d'invitation, de visite</p>
          </div>
        </div>
    </div>	
  <div class="col-md-3"></div>
</div>
<br>
<br>
{% endblock content%}